
header{
    width: 100vw;
}

ul{
    list-style: none;
}

.my_width{
    width: 70%;
}

aside{
    width:70px;
    background-color: #142A40;
}

section{
    width: calc(100vw - 70px);
    height: 100vh;
    overflow: scroll;
}

.main-nav{
    height: 100px;
    width: calc(100vw - 70px);
    background-color: #1D72E8;
}

 .my_nav-height{
    height: 100%;
 }

 .my_ul-height{
    height: 90%;
 }

 .my_padding-left{
    padding-left:1rem;
 }

.fa-chart-simple{
    font-size:18px;
}
.fa-signal{
    font-size: 14px;
}


@media screen and (min-width:992px){
    .my_width{
        width: 100%;
    }

    .w-lg-logo{
        width: 100%;
    }
    aside{
        width:150px;
    }
    section{
        width: calc(100vw - 150px);
    }
    .main-nav{
        height: 100px;
        width: calc(100vw - 150px);
    }
    
}